<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Somos a maior plataforma de busca de empregos do Brasil, oferecemos vagas nacionais e internacionais para o mercado da programação. Comece sua busca agora mesmo!">
    <title>DevFinder</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/tailwind.css">
    <link rel="stylesheet" href="/css/animate.css">
    <link rel="stylesheet" href="/css/remixicon/fonts/remixicon.css">
    <script src="/scripts/verVaga.js" defer></script>
    <script src="/scripts/home.js" defer></script>
    <script src="/scripts/flashMsg.js" defer></script>
    <script src="/scripts/animate.js" defer></script>
    <script src="/scripts/acoesVaga.js" defer></script>
    <link rel="shortcut icon" href="/logo.svg" type="image/x-icon">
</head>
<body class="overflow-x-hidden">
    {{>header}}
    <main class="mt-[80px] mb-[260px]  2xl:mt-[180px] 2xl:mb-[200px]">
        <div class="container-width grid lg:grid-cols-2">
            <article>
                <h1 class="text-[2.5rem] lg:text-[3rem] 2xl:text-[4rem] leading-[1.115] font-medium mb-6" data-animate="left">Encontre as melhores vagas na área da programação.</h1>
                <p class="text-[1.15rem]" data-animate="left">Somos a maior plataforma de busca de empregos do Brasil, oferecemos vagas nacionais e internacionais para o mercado da programação. Comece sua busca agora mesmo!</p>
                <a href="/ver-vagas" class="bg-blue-10 text-gray-1 text-[1.25rem] px-4 py-2 rounded mt-6" data-animate="left">Encontrar suas vagas</a>
            </article>
            <picture data-animate="right" class="max-md:hidden">
                <img src="/assets/images/banner-home.svg" alt="" width="700" height="500"  class="relative lg:bottom-12">
            </picture>
        </div>
    </main>

    <section id="grid-vagas" class="container-width grid lg:grid-cols-2 2xl:grid-cols-3 gap-5 mb-[120px]">
        <div class="col-span-full flex justify-between items-center mb-3">
        <h1 class="text-[2rem] 2xl:text-[3rem] max-md:max-w-[5ch] leading-[1.215] font-medium">Vagas recentes</h1>
        <a href="/ver-vagas" class="text-[1.1rem] 2xl:text-[1.2rem]">Ver mais <i class="ri-arrow-right-line"></i></a>
        </div>
        {{#each vagas}}
        <div class="vagaCard relative grid cursor-pointer break-all" data-id="{{this.id}}" data-animate="vaga">
            <div class="content">
            <h1 class="text-[1.45rem] font-medium ">{{this.title}}</h1>
            <h2 class="mb-3">{{this.enterprise}}</h2>
            <h3 class="">Requisitos e atribuições:</h3>
            <ul class="mb-auto">
            {{#each (limit (split this.requirements '§') 4)}}
              <li class="list-disc ml-5">{{truncate this 30}}</li>
            {{/each}}
            </ul>
            </div>
          <div class="tags flex absolute left-6 bottom-6 gap-2 font-medium">
            <span class="text-gray-12 bg-gray-5 rounded py-[2px] px-3 text-[.9rem] 2xl:text-[.95rem]">R$ {{this.salary}}</span>
            <span class="text-gray-12 bg-gray-5 rounded py-[2px] px-3 text-[.9rem] 2xl:text-[.95rem]">{{this.level}}</span>
          </div>
          {{#equals ../userEmail this.createdBy}}
          <div class="acoesVaga absolute text-gray-13 hidden w-[168px] bg-gray-1 rounded">
            <a href="/editar-vaga/{{this.id}}" class="editar-vaga flex text-[1.1rem] gap-2 py-3 px-4 hover:bg-blue-10 hover:text-gray-1"><i class="ri-edit-box-line"></i>Editar vaga</a>
            <a href="/excluir-vaga/{{this.id}}" class="excluir-vaga flex text-[1.1rem] hover:bg-red-600 hover:text-gray-1 gap-2 py-3 px-4"><i class=" ri-delete-bin-2-line "></i>Excluir vaga</a>
          </div>
          {{/equals}}
          {{!-- <a href="/vagas/{{this.id}}" class="bg-blue-10 px-4 py-1 h-fit w-fit text-gray-1 rounded mt-5 lg:mt-auto">Candidatar-se</a> --}}
        </div>
        {{/each}}
    </section>

    <section class="container-width grid gap-8">
          {{#each vagas}}
          <div class="vagaExpanded rounded-md z-[3] hidden bg-gray-1 p-8 relative" data-id="{{this.id}}">
            <i class="fechar-vaga ri-close-fill text-[2rem] cursor-pointer absolute right-3 top-3"></i>
            <div class="content">
            <h1 class="text-[1.8rem] leading-[1.215] 2xl:text-[2.85rem] font-medium">{{this.title}}</h1>
            <h2 class="mb-3 2xl:text-[1.2rem]">{{this.enterprise}}</h2>
            <h4 class="text-[1.45rem] 2xl:text-[2rem] mt-3 mb-1">Descrição da vaga</h4>
            <p class="text-gray-12 2xl:text-[1.15rem] mb-5">{{this.description}}</p>
            <h3 class="text-[1.35rem]">Requisitos e atribuições:</h3>
            <ul class="mb-5">
            {{#each (split this.requirements '§')}}
              <li class="list-disc ml-5 2xl:text-[1.15rem]">{{this}}</li>
            {{/each}}
            </ul>
            </div>
          <div class="tags flex absolute right-6 bottom-8 gap-2 font-medium">
            <span class="text-gray-12 bg-gray-5 rounded py-[2px] px-3 text-[.8rem] 2xl:text-[.95rem]">R$ {{this.salary}}</span>
            <span class="text-gray-12 bg-gray-5 rounded py-[2px] px-3 text-[.8rem] 2xl:text-[.95rem]">{{this.level}}</span>
          </div>
          <a href="/vagas/{{this.id}}" class="bg-blue-10 px-4 py-1 h-fit w-fit text-gray-1 rounded mt-auto text-[1.15rem]">Candidatar-se</a>
        </div>
          {{/each}}
        </section>

    <section id="solucoes" class="container-width">
        <h1 class="text-[2rem] lg:text-[3rem] leading-[1.215] col-span-full">Soluções para sua empresa</h1>
        <img src="assets/images/solucoes.webp" width="1500" height="1000" alt="" loading="lazy" data-animate="solucoes-left">
        <div class="max-lg:mt-5 solucoes-text grid lg:grid-cols-2 gap-5" data-animate="solucoes-right">
            <div class="">
                <h1 class="text-[1.8rem] mb-2 leading-[1.115]">Recrutamento Especializado</h1>
                <p>Fornecemos recrutadores especializados em setores específicos para garantir a seleção de candidatos com as habilidades e experiência necessárias..</p>
            </div>
            <div class="">
                <h1 class="text-[1.8rem] mb-2 leading-[1.115]">Avaliação de Candidatos</h1>
                <p>Realizamos testes e avaliações para medir as habilidades técnicas e comportamentais dos candidatos.</p>
            </div>
            <div class="">
                <h1 class="text-[1.8rem] mb-2 leading-[1.115]">Programas de Integração</h1>
                <p>Desenvolvemos programas abrangentes de integração para garantir uma transição suave dos novos funcionários para a cultura e o ambiente de trabalho da empresa.</p>
            </div>
            <div class="">
                <h1 class="text-[1.8rem] mb-2 leading-[1.115]">E-mail Marketing</h1>
                <p>Desenvolva campanhas de e-mail marketing personalizadas, compartilhando o conteúdo mais recente, atualizações do setor e ofertas especiais para os clientes que participarem ativamente do programa.</p>
            </div>
        </div>
    </section>
    {{>footer}}
            {{#if vaga_delete}}
        <span class="flashMsg bg-green-600 text-neutral-50 px-4 py-2 rounded fixed -right-full bottom-8"><i class="ri-checkbox-circle-line mr-1"></i>{{vaga_delete}}</span>
        {{/if}}
    <div class="vaga-ativa"></div>
</body>
</html>