<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fazer login</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="./css/tailwind.css">
    <link rel="stylesheet" href="./css/animate.css">
    <link rel="stylesheet" href="./css/remixicon/fonts/remixicon.css">
    <script src="/scripts/criarConta.js" defer></script>
    <script src="/scripts/flashMsg.js" defer></script>
    <script src="/scripts/animate.js" defer></script>
    <script src="/scripts/home.js" defer></script>
    <link rel="shortcut icon" href="/logo.svg" type="image/x-icon">
</head>
<body>
    {{>header}}
    <main id="login" class="container-width grid lg:grid-cols-2 mt-[100px] lg:w-[1200px] lg:h-[650px]">
        <form action="/login" method="post" class="max-lg:py-12 m-auto w-full">
                <h1 class="max-md:leading-[1.115] col-span-full mb-16 text-gray-12 text-[2.75rem] text-center w-[60%] font-semibold tracking-[.25px] ">Fazer <span class="text-blue-8">login</span></h1>
        <div class="mb-9 relative w-[60%]">
            <div class="relative h-[48px]">
                <input type="email" name="email" id="email" autocomplete="off">
                <label for="email">Email</label>
                <i class="ri-mail-line absolute right-4 top-2/4 -translate-y-2/4 text-[1.1rem] text-gray-9"></i>
            </div>
        </div>
        <div class="mb-8 relative w-[60%]">
            <div class="h-[48px]"><input type="password" name="password" id="password"  autocomplete="new-password">
            <label for="password">Senha</label>
            <i id="verSenha" class="ri-eye-line cursor-pointer absolute right-4 top-2/4 -translate-y-2/4 text-[1.1rem] text-gray-9"></i>
            <i id="esconderSenha" class="ri-eye-off-line cursor-pointer absolute right-4 top-2/4 -translate-y-2/4 text-[1.1rem] text-gray-9 hidden"></i></div>
        </div>
        <button id="btn-criar-conta" type="submit" class="block mt-12 w-[60%] py-4 rounded bg-blue-10 text-neutral-50 text-[1.35rem]">Fazer login</button>
        </form>
        <picture class="grid items-center max-lg:hidden">
            <img src="/assets/images/banner-login.svg" alt="" width="550">
        </picture>
        {{#if erros.email_error}}
        <span class="flashMsg bg-red-600 text-neutral-50 px-4 py-2 rounded fixed -right-full bottom-8"><i class="ri-error-warning-line mr-1"></i>{{erros.email_error}}</span>
        {{/if}}
        {{#if user_not_found}}
        <span class="flashMsg bg-red-600 text-neutral-50 px-4 py-2 rounded fixed -right-full bottom-8"><i class="ri-error-warning-line mr-1"></i>{{user_not_found}}</span>
        {{/if}} 
        {{#if erros.password_error}}
            <span class="flashMsg bg-red-600 text-neutral-50 px-4 py-2 rounded fixed -right-full bottom-8"><i class="ri-error-warning-line mr-1"></i>{{password_error}}</span>
        {{/if}}
        {{#if password_incorrect}}
            <span class="flashMsg bg-red-600 text-neutral-50 px-4 py-2 rounded fixed -right-full bottom-8"><i class="ri-error-warning-line mr-1"></i>{{password_incorrect}}</span>
        {{/if}}
        {{#if loginSuccess}}
        <span class="flashMsg loginSuccess bg-green-600 text-neutral-50 px-4 py-2 rounded fixed -right-full bottom-8"><i class="ri-checkbox-circle-line mr-1"></i>{{loginSuccess}}</span>
        {{/if}}
    </main>
    {{>footer}}
</body>
</html>