<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ver vagas</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/tailwind.css">
    <link rel="stylesheet" href="/css/remixicon/fonts/remixicon.css">
    <link rel="shortcut icon" href="/logo.svg" type="image/x-icon">
    <script src="/scripts/verVaga.js" defer></script>
    <script src="/scripts/home.js" defer></script>
</head>
<body>
    {{>header}}
    <main class="mt-[120px] mb-[80px]">
      <div class="container-width">
        <h1 class="text-[2rem] lg:text-[4rem] font-semibold leading-[1.115] mb-5 max-w-[25ch]">Conquiste sua primeira vaga e inicie sua jornada na programação.</h1>
        <p class="lg:text-[1.25rem]">Olá dev! Aqui é o lugar certo pra achar um trampo que é a sua cara. Temos vagas pra todo tipo de programador, seja você do front, do back ou full-stack.
          Dá uma olhada nas vagas, usa os filtros pra achar o que combina com você e se joga!</p>
      </div>
    </main>
        <section id="ver-vagas" class="container-width grid lg:grid-cols-3 gap-5 ">
            <form action="/ver-vagas" method="post" class="col-span-full grid mb-3">
                <input type="text" name="searchVaga" id="" class="text-[1.2rem] placeholder:text-gray-8" placeholder="ex: desenvolvedor front end" spellcheck="false" autocomplete="off" value="{{searchVaga}}">
                <button type="submit" class="max-lg:py-3 bg-blue-10 text-gray-1 text-[1.2rem] rounded px-6"><i class="ri-search-line mr-2"></i>Buscar vaga</button>
            </form>
            <button class="ativa-filtros lg:hidden bg-blue-10 text-gray-1 w-fit text-[2rem] px-2 fixed bottom-8 right-0 z-[2]"><i class="ri-filter-fill"></i></button>
            <form action="/ver-vagas" method="post" class=" fixed max-lg:z-[3] z-[2] max-lg:right-full filtros col-span-1 row-start-2 row-span-12 mr-5 h-[600px] px-14 lg:sticky top-8">
            <i class="fecha-filtros lg:hidden ri-close-fill text-[1.8rem] absolute right-5 top-2"></i>
              <div class=" py-6">
                <h1 class="text-[1.75rem] text-gray-1">Busca avançada</h1>
              </div>
              <div class="categoria grid text-[1.15rem] gap-1 py-3">
                <span class="text-[1.45rem] mb-3">Categoria</span>
                <div class="flex gap-3 w-full items-center h-fit">
                <div class="checkbox-wrapper-4">
                  {{#if front}}
                <input class="inp-cbx" id="front" name="front" type="checkbox" checked/>
                {{else}}
                <input class="inp-cbx" id="front" name="front" type="checkbox"/>
                {{/if}}
                <label class="cbx" for="front"><span>
                <svg width="12px" height="10px">
                 <use xlink:href="#check-4"></use>
                </svg></span><span>Front end</span></label>
                <svg class="inline-svg">
                  <symbol id="check-4" viewbox="0 0 12 10">
                    <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
                  </symbol>
                </svg>
              </div>
                </div>

                 <div class="flex gap-3 w-full items-center">
                <div class="checkbox-wrapper-4">
                  {{#if back}}
                <input class="inp-cbx" id="back" name="back" type="checkbox" checked/>
                {{else}}
                <input class="inp-cbx" id="back" name="back" type="checkbox"/>
                {{/if}}
                <label class="cbx" for="back"><span>
                <svg width="12px" height="10px">
                 <use xlink:href="#check-4"></use>
                </svg></span><span>Back end</span></label>
                <svg class="inline-svg">
                  <symbol id="check-4" viewbox="0 0 12 10">
                    <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
                  </symbol>
                </svg>
              </div>
                </div>

                <div class="flex gap-3 w-full items-center">
                <div class="checkbox-wrapper-4">
                  {{#if full}}
                <input class="inp-cbx" id="fullstack" name="full" type="checkbox" checked/>
                  {{else}}
                <input class="inp-cbx" id="fullstack" name="full" type="checkbox"/>
                {{/if}}
                <label class="cbx" for="fullstack"><span>
                <svg width="12px" height="10px">
                 <use xlink:href="#check-4"></use>
                </svg></span><span>Full stack</span></label>
                <svg class="inline-svg">
                  <symbol id="check-4" viewbox="0 0 12 10">
                    <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
                  </symbol>
                </svg>
              </div>
                </div>
              </div>

              <div class="nivel text-[1.15rem] py-3">
                <span class="text-[1.45rem] mb-3">Nível da vaga</span>
                    <div class="relative">
                      <select name="level" id="" class="text-[1.15rem] mt-1">
                          <option value="" {{#unless level}}selected{{/unless}}></option>
                          <option value="Estágio" {{#if (eq level 'Estágio')}}selected{{/if}}>Estágio</option>
                          <option value="Trainee" {{#if (eq level 'Trainee')}}selected{{/if}}>Trainee</option>
                          <option value="Júnior" {{#if (eq level 'Júnior')}}selected{{/if}}>Júnior</option>
                          <option value="Pleno" {{#if (eq level 'Pleno')}}selected{{/if}}>Pleno</option>
                          <option value="Sênior" {{#if (eq level 'Sênior')}}selected{{/if}}>Sênior</option>
                          <option value="Tech lead" {{#if (eq level 'Tech lead')}}selected{{/if}}>Tech lead</option>
                      </select>

                    <i class="dropdown ri-arrow-drop-down-line text-[1.8rem] leading-none absolute right-0 text-gray-12 top-2/4 -translate-y-2/4"></i>
                    </div>
              </div>

              <div class="nivel text-[1.15rem] grid grid-cols-2 py-3 gap-x-8">
                <span class="text-[1.45rem] mb-3 col-span-full">Salário da vaga</span>
                <div class="relative text-gray-8">
                  {{#if min}}
                  <input type="number" name="min" id="" placeholder="Min" class="placeholder:text-gray-10" value="{{min}}">
                  <i class="ri-cash-line absolute top-2/4 -translate-y-2/4 left-3 "></i>
                  {{else}}
                  <input type="number" name="min" id="" placeholder="Min" class="placeholder:text-gray-10">
                  <i class="ri-cash-line absolute top-2/4 -translate-y-2/4 left-3 "></i>
                  {{/if}}
                </div>
                  <div class="relative text-gray-8">
                  {{#if max}}
                  <input type="number" name="max" id="" placeholder="Max" class="placeholder:text-gray-10" value="{{max}}">
                  <i class="ri-cash-line absolute top-2/4 -translate-y-2/4 left-3 "></i>
                  {{else}}
                  <input type="number" name="max" id="" placeholder="Max" class="placeholder:text-gray-10">
                  <i class="ri-cash-line absolute top-2/4 -translate-y-2/4 left-3 "></i>
                  {{/if}}
                </div>
              </div>
              <button type="submit" class="w-full py-4 text-[1.15rem] mt-3 rounded bg-blue-12 justify-self-center text-gray-1 mx-auto">Buscar</button>

            </form>
          <h1 class="searchVaga text-[2.5rem] font-medium col-start-2 leading-[1.115] col-span-full"></h1>
            {{#if vagasEncontradas}}
        <div class="resultados col-start-2 col-span-full">
          {{!-- <h1 class="searchVaga text-[2.5rem] font-medium clear-start leading-[1.115]">Mostrando resultados para "{{searchVaga}}"</h1> --}}
        <span class="font-medium">{{quantidade}} resultados</span>
        </div>
        {{#each vagasEncontradas}}
            <div class="vagaCard relative grid cursor-pointer" data-id="{{this.id}}">
            <div class="content">
            <h1 class="text-[1.45rem] font-medium">{{this.title}}</h1>
            <h2 class="mb-3">{{this.enterprise}}</h2>
            <h3 class="">Requisitos e atribuições:</h3>
            <ul class="mb-auto">
            {{#each (limit (split this.requirements '§') 4)}}
              <li class="list-disc ml-5">{{truncate this 40}}</li>
            {{/each}}
            </ul>
            </div>
          <div class="tags flex absolute right-6 bottom-6 gap-2 font-medium">
            <span class="text-gray-12 bg-gray-6 rounded py-[2px] px-3 text-[.8rem] lg:text-[.95rem]">R$ {{this.salary}}</span>
            <span class="text-gray-12 bg-gray-6 rounded py-[2px] px-3 text-[.8rem] lg:text-[.95rem]">{{this.level}}</span>
          </div>
          <a href="/vagas/{{this.id}}" class="bg-blue-10 px-4 py-1 h-fit w-fit text-gray-1 rounded mt-auto">Candidatar-se</a>
        </div>
        {{/each}}
                <section class="container-width grid gap-8">
          {{#each vagasEncontradas}}
          <div class="vagaExpanded rounded-md z-[3] hidden bg-gray-1 p-8" data-id="{{this.id}}">
            <div class="content">
            <h1 class="text-[2.85rem] font-medium">{{this.title}}</h1>
            <h2 class="mb-3 text-[1.2rem]">{{this.enterprise}}</h2>
            <h4 class="text-[2rem] mt-3 mb-1">Descrição da vaga</h4>
            <p class="text-gray-12 text-[1.15rem] mb-5">{{this.description}}</p>
            <h3 class="text-[1.35rem]">Requisitos e atribuições:</h3>
            <ul class="mb-5">
            {{#each (split this.requirements '§')}}
              <li class="list-disc ml-5 text-[1.15rem]">{{this}}</li>
            {{/each}}
            </ul>
            </div>
          <div class="tags flex absolute right-6 bottom-6 gap-2 font-medium">
            <span class="text-gray-12 bg-gray-6 rounded py-[2px] px-3 text-[.95rem]">R$ {{this.salary}}</span>
            <span class="text-gray-12 bg-gray-6 rounded py-[2px] px-3 text-[.95rem]">{{this.level}}</span>
          </div>
          <a href="/vagas/{{this.id}}" class="bg-blue-10 px-4 py-1 h-fit w-fit text-gray-1 rounded mt-5 text-[1.15rem]">Candidatar-se</a>
        </div>
          {{/each}}
        </section>
          {{/if}}
          {{#each vagas}}
        <div class="vagaCard relative grid cursor-pointer" data-id="{{this.id}}">
            <div class="content">
            <h1 class="text-[1.45rem] font-medium">{{this.title}}</h1>
            <h2 class="mb-3">{{this.enterprise}}</h2>
            <h3 class="">Requisitos e atribuições:</h3>
            <ul class="mb-auto">
            {{#each (limit (split this.requirements '§') 4)}}
              <li class="list-disc ml-5">{{truncate this 40}}</li>
            {{/each}}
            </ul>
            </div>
          <div class="tags flex absolute right-6 bottom-6 gap-[2px] lg:gap-2 font-medium">
            <span class="text-gray-12 bg-gray-6 rounded py-[2px] px-3 text-[.8rem] lg:text-[.95rem]">R$ {{this.salary}}</span>
            <span class="text-gray-12 bg-gray-6 rounded py-[2px] px-3 text-[.8rem] lg:text-[.95rem]">{{this.level}}</span>
          </div>
          <a href="/vagas/{{this.id}}" class="bg-blue-10 px-4 py-1 h-fit w-fit text-gray-1 rounded mt-5">Candidatar-se</a>
        </div>
        {{/each}}
        </section>
        <section class="container-width grid gap-8">
          {{#each vagas}}
          <div class="vagaExpanded rounded-md z-[3] hidden bg-gray-1 p-8 relative" data-id="{{this.id}}">
            <i class="fechar-vaga ri-close-fill text-[2rem] cursor-pointer absolute right-3 top-3"></i>
            <div class="content">
            <h1 class="max-lg:pt-3 text-[1.8rem] leading-[1.215] 2xl:text-[2.85rem] font-medium">{{this.title}}</h1>
            <h2 class="mb-3 2xl:text-[1.2rem]">{{this.enterprise}}</h2>
            <h4 class="text-[1.45rem] 2xl:text-[2rem] mt-3 mb-1">Descrição da vaga</h4>
            <p class="text-gray-12 2xl:text-[1.15rem] mb-5">{{this.description}}</p>
            <h3 class="text-[1.35rem]">Requisitos e atribuições:</h3>
            <ul class="mb-5">
            {{#each (split this.requirements '§')}}
              <li class="list-disc ml-5 2xl:text-[1.15rem]">{{this}}</li>
            {{/each}}
            </ul>
            </div>
          <div class="tags flex absolute right-6 bottom-8 gap-2 font-medium">
            <span class="text-gray-12 bg-gray-6 rounded py-[2px] px-3 text-[.8rem] 2xl:text-[.95rem]">R$ {{this.salary}}</span>
            <span class="text-gray-12 bg-gray-6 rounded py-[2px] px-3 text-[.8rem] 2xl:text-[.95rem]">{{this.level}}</span>
          </div>
          <a href="/vagas/{{this.id}}" class="bg-blue-10 px-4 py-1 h-fit w-fit text-gray-1 rounded mt-auto text-[1.15rem]">Candidatar-se</a>
        </div>
          {{/each}}
        </section>
        {{>footer}}
        <div class="vaga-ativa"></div>
</body>
</html>