<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
        <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/tailwind.css">
    <link rel="stylesheet" href="/css/remixicon/fonts/remixicon.css">
    <link rel="shortcut icon" href="/logo.svg" type="image/x-icon">
    <script src="/scripts/home.js" defer></script>
    <script src="/scripts/auth.js" defer></script>
</head>
<body>
    {{>header}}
        <section id="ver-vagas" class="container-width grid grid-cols-2 gap-5 mb-[120px]">
            <form action="/ver-vagas" method="post"class="col-span-full grid">
                <input type="text" name="searchVaga" id="">
                <button type="submit" id="btn-buscar-vaga" class="text-gray-1 text-[1.2rem] rounded px-6">Buscar vaga</button>
            </form>
            {{#if vagasEncontradas}}
        <h1 class="text-[3.5rem] font-medium col-span-full">Mostrando resultados para "{{searchVaga}}"</h1>
            <div>
        {{#each vagasEncontradas}}
            <div class="vaga relative grid">
            <div class="content">
            <h1 class="text-[1.45rem] font-medium">{{this.title}}</h1>
            <h2 class="mb-3">{{this.enterprise}}</h2>
            <h3 class="">Requisitos e atribuições:</h3>
            <ul class="mb-auto">
            {{#each (limit (split this.requirements '§') 4)}}
              <li class="list-disc ml-5">{{truncate this 40}}</li>
            {{/each}}
            </ul>
            </div>
          <div class="tags flex absolute right-6 bottom-6 gap-2 font-medium">
            <span class="text-gray-12 bg-gray-6 rounded py-[2px] px-3 text-[.95rem]">R$ {{this.salary}}</span>
            <span class="text-gray-12 bg-gray-6 rounded py-[2px] px-3 text-[.95rem]">{{this.level}}</span>
          </div>
          <a href="/vagas/{{this.id}}" class="bg-blue-10 px-4 py-1 h-fit w-fit text-gray-1 rounded mt-auto">Candidatar-se</a>
        </div>
        {{/each}}
        {{else}}
                <h1 class="text-[3.5rem] font-medium col-span-full">A busca por "{{searchVaga}}" não encontrou nenhum resultado</h1>
            {{/if}}
        {{#each vagas}}
        <div class="vaga relative grid">
            <div class="content">
            <h1 class="text-[1.45rem] font-medium">{{this.title}}</h1>
            <h2 class="mb-3">{{this.enterprise}}</h2>
            <h3 class="">Requisitos e atribuições:</h3>
            <ul class="mb-auto">
            {{#each (limit (split this.requirements '§') 4)}}
              <li class="list-disc ml-5">{{truncate this 40}}</li>
            {{/each}}
            </ul>
            </div>
          <div class="tags flex absolute right-6 bottom-6 gap-2 font-medium">
            <span class="text-gray-12 bg-gray-6 rounded py-[2px] px-3 text-[.95rem]">R$ {{this.salary}}</span>
            <span class="text-gray-12 bg-gray-6 rounded py-[2px] px-3 text-[.95rem]">{{this.level}}</span>
          </div>
          <a href="/vagas/{{this.id}}" class="bg-blue-10 px-4 py-1 h-fit w-fit text-gray-1 rounded mt-auto">Candidatar-se</a>
        </div>
            </div>
        {{/each}}

    </section>
</body>
</html>